### 01.Importing Libraries

In [2]:
# import libraries
import pandas as pd
import numpy as np
import os

### 02.Importing Data

In [4]:
path=r"C:\Users\nabar\OneDrive\Documents\03-2025 Instacart Basket Analysis"
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data','orders_checked.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data' , 'orders_products_prior.csv'))

In [5]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [16]:
# Check the output
df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [6]:
df_ords_prior.shape

(32434489, 4)

In [12]:
df_ords.shape

(3421083, 7)

In [18]:
# Merging(inner)
df_merge_large = df_ords.merge(df_ords_prior, on = ['order_id'] , how = 'inner', indicator = True)

In [19]:
# Examine value counts 
df_merge_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [20]:
# Exporting
df_merge_large.to_pickle(os.path.join(path, '02 Data' , 'Prepared Data' , 'orders_products_combined.pkl'))